services:
  flask-web:
    build: .
    container_name: flask-web
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      POSTGRES_DB: mydb
      POSTGRES_PASSWORD: password
    depends_on:
      - db
  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:

